{% extends "base.html" %}

{% block content %}
<div class="row">
  {% for b in baekur %}
  <div class="card col-2 m-3" style="border: 0;">
    <img class="card-img-top mt-4" style="box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);" src="{{ b.mynd.url }}" alt="">
    <div class="card-body">
      <a href="{% url 'baekur:baekur_lysing' pk=b.pk %}" style="color: #333333;">
        <h5 class="font-weight-light">{{ b.titill }}</h5>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
