{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="hringekjudiv container-fluid">

  <div class="col-12 logostuff">
    <div class="col-12 text-center mx-auto">
      <h1 class="amforlag__texti display-2">AM<br><span>forlag</span></h1>
    </div>
    <div class="col-12 text-center pt-5">
      <img class="amforlag__logo" src="{% static 'images/AM logo.svg' %}" alt="">
    </div>
  </div>

  <div class="hringekja-container hringekja-container-vinstri">
    {# VINSTRI HRINGEKJAN #}
    <div class="m-auto owl-carousel owl-theme hringekja hringekja-vinstri">
      {% include "baekur/snippets/_lysing.html" with bibbi=baekur hlid='vinstri' %}
    </div>
    {#  #}
  </div>

  <div class="d-none d-md-block hringekja-container hringekja-container-haegri">
    {# HÆGRI HRINGEKJAN #}
    <div class="m-auto owl-carousel owl-theme hringekja hringekja-haegri">
      {% include "baekur/snippets/_lysing.html" with bibbi=baekur2 hlid='haegri' %}
      {% include "baekur/snippets/_lysing.html" with bibbi=baekur1 hlid='haegri' %}
    </div>
    {#  #}
  </div>

</div>

{% endblock content %}
