{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
  <p><a class="small text-muted" href="{% url 'baekur:hofundar_listi' %}">Til baka</a></p>
</div>
<div class="row">
  <p>Höfundur: {{ hofundur }}</p>
</div>
<div class="row">
  {% for b in baekur %}
  <div class="card col-2 m-3" style="border: 0;">
    <img class="card-img-top mt-4" style="box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);" src="{{ b.mynd.url }}" alt="">
    <div class="card-body px-0">
      <a href="{% url 'baekur:baekur_lysing' pk=b.pk %}" style="color: #333333;">
        <p class="font-weight-light">{{ b.titill }}</p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
