<<<<<<< HEAD
=======
.hringekja .item .item-lysing {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }

.hringekja .item img {
  transition: opacity 0.5s ease-in-out; }

.hringekja .item:hover img {
  opacity: 0.1; }

.hringekja .item:hover .item-lysing {
  opacity: 1; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

>>>>>>> gulli
body {
  font-family: 'Nunito', sans-serif; }

.navbar {
  background-color: #fff !important;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.125) !important; }

.amforlag-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  text-align: center; }

.amforlag-logo {
  max-width: 175px;
  margin: 0 auto; }

.forsidubok {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #b1b1b1; }
  .forsidubok.vinstri {
    box-shadow: -4px 6px 15px 2px rgba(0, 0, 0, 0.125); }
  .forsidubok.haegri {
    box-shadow: 4px 6px 15px 2px rgba(0, 0, 0, 0.125); }

.navbar {
  background-color: #fff !important;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.125) !important; }
  .navbar ul li {
    display: inline-block;
    margin: 0 20px; }
  .navbar a {
    font-size: 18px;
    position: relative; }
    .navbar a#nav-blar:before, .navbar a#nav-blar:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #253F8F;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .navbar a#nav-graenn:before, .navbar a#nav-graenn:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #40AD48;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .navbar a#nav-raudur:before, .navbar a#nav-raudur:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #A61E22;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .navbar a:before {
      opacity: 0;
      transform: translateY(-8px);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
    .navbar a:after {
      opacity: 0;
      transform: translateY(4px);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
    .navbar a:hover:before, .navbar a:hover:after, .navbar a:focus:before, .navbar a:focus:after {
      opacity: 1;
      transform: translateY(0); }
    .navbar a:hover:before, .navbar a:focus:before {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
    .navbar a:hover:after, .navbar a:focus:after {
      transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

#panta-bokaknippi img {
  max-width: 80%;
  border: 1px solid #b1b1b1;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 1s; }
  #panta-bokaknippi img:hover {
    opacity: 0.75; }
