.hringekja {
  .item {
    .item-lysing {
      position: absolute;
      top: 10px; left: 0;
      z-index: 1000;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 20px;
      //text-align: justify;
      //word-break: break-all;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    img {
      transition: opacity 0.5s ease-in-out;
    }
    &:hover {
      img {
        opacity: 0.1;
      }
      .item-lysing {
        opacity: 1;
      }
    }
  }
}


/* Drop shadow normal */
.dropshadow:after{
	content: '';
	position:absolute;
	z-index:-1;
	bottom:-3px;
	width:94%;
	left:50%;
	margin-left:-47%;
	height:30px;
	box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 1);
	-webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	-moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	-ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	-o-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
	transform: perspective(800px) rotateY(0deg) rotateX(45deg);
}
/* Drop shadow: tilt, right*/
.dropshadow.tr:after{
    content: '';
	bottom:0px;
	width:100%;
	left:50%;
	margin-left:-62%;
	-webkit-transform: perspective(300px) rotateY(-40deg) rotateX(50deg);
	-moz-transform: perspective(300px) rotateY(-40deg) rotateX(50deg);
	transform: perspective(300px) rotateY(-40deg) rotateX(50deg);
}
/* Drop shadow: tilt, left*/
.dropshadow.tl:after{
	content: '';
	bottom:0px;
	width:100%;
	left:50%;
	margin-left:-40%;
	-webkit-transform: perspective(300px) rotateY(40deg) rotateX(50deg);
	-moz-transform: perspective(300px) rotateY(40deg) rotateX(50deg);
	transform: perspective(300px) rotateY(40deg) rotateX(50deg);
}
