.hringekja {
  .item {
    .item-lysing {
      position: absolute;
      top: 10px; left: 0;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      //word-break: break-all;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    img {
      transition: opacity 0.5s ease-in-out;
    }
    &:hover {
      img {
        opacity: 0.1;
      }
      .item-lysing {
        opacity: 1;
      }
    }
  }
}

.logostuff {
  padding-top: 20vh;
  @media (max-width: $md) {
    padding-top: 5vh;
  }
}

.hringekja-container {
  position: absolute;
  margin-top: 50px;
  &-vinstri {
    top: 20vh;
    left: 15vw;
    @media (max-width: $xl) {
      left: 5vw;
    }
  }
  &-haegri {
    top: 20vh;
    right: 15vw;
    @media (max-width: $xl) {
      right: 5vw;
    }
  }
  @media (max-width: $md) {
    position: static;
  }
}

.bokamynd {
  max-height: 400px;
  height: 50vh;
  width: auto!important;
  @media (max-width: $lg) {
    max-height: 300px;
    height: 40vh;
  }
}

#space {
  height: 200px;
}
