#baekur-listi {
  img {
    max-width: 80%;
    border: 1px solid #b1b1b1;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
  }
}

#dropdownButton {
  background: $light-gray;
  border: 0;
  &:hover {
    background: grey;
  }
}
