// colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// forsida
$light-gray: #b1b1b1;

// navbar
$nav-blar: #253F8F;
$nav-brunn: #C16E28;
$nav-graenn: #40AD48;
$nav-raudur: #A61E22;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

// bootstrap stærðir
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
