{% extends "base.html" %}

{% load misc %}
{% load crispy_forms_tags %}

{% block content %}
<div id="panta-bokaknippi" class="row mt-5" style="padding-bottom: 8rem;">
  <div class="col-12 mr-0 mr-md-5 pr-0 pr-md-3 order-2">
    {% if form_error %}
    <div class="row">
      <div class="alert alert-warning text-center" role="alert">
        {{ form_error }}
      </div>
    </div>
    {% endif %}
    <h2>Panta bókaknippi</h2>
    <p class="py-3">
      Fylltu inn upplýsingar um þig og við sendum greiðsluseðil í heimabanka um hæl.
    </p>
    <form id="pontunarform" class="pr-3 pr-md-0" action="{% url 'pantanir:panta_bokaknippi' %}" method="post" novalidate>
      {% csrf_token %}
      {% crispy form form.helper %}
      <!-- Button trigger modal -->
      <button id="senda-pontun" type="button" style="margin-top: 1rem;" class="btn btn-outline-primary ml-3 ml-md-0" data-toggle="modal" data-target="#exampleModal">
        Panta
      </button>
    </form>
  </div>
  <div class="col-12 order-1 mb-4">
    <div>
      <h2>Fyrsta bókaknippi AM forlags</h2>
      <p class="pt-3">Í þremur skáldsögum, ljóðabók og smásagnasafni tvinnar Sverrir saman marglaga ástarbréf til íslenskunnar og listarinnar – og ekki síst listsköpunar á íslensku. Sögusviðið er Evrópa og Bandaríkin og söguhetjurnar leitandi fólk, sem tilheyrir smáþjóð, talar örtungu og lifir í heimi sem verður sífellt samtengdari, rótlausari og alþjóðlegri.</p>
      <p class="py-3">Verð: <span id="verd">{{ bokaknippi.verd|verd }}</span> kr.</p>
    </div>
    <div class="row">
      {% for b in baekur %}
        <div class="col-4 col-md-2 mb-3 mt-3 mt-md-0 p-0 text-center text-md-left mx-md-auto">
          <a href="{% url 'baekur:baekur_lysing' pk=b.pk %}">
            <img src="{{ b.mynd.url }}" alt="">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Staðfesta pöntun</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Panta <strong><span id="modal-magn"></span> bókaknippi</strong> AM forlags.<br>
        Samtals: <strong><span id="modal-heildarverd"></span> þús. kr.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Til baka</button>
        <button class="btn btn-outline-primary" type="submit" form="pontunarform">Áfram</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
