{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div id="panta-bokaknippi" class="row my-5">
  <div class="col-12 col-md-7 mr-0 mr-md-5 pr-0 pr-md-3 order-2 order-md-1">
    <div class="d-none d-md-block">
      <p class="lead">Panta bókaknippi</p>
      <p>
        Hér getur þú pantað fyrsta bókaknippi AM forlags og fengið greiðsluseðil sendan í heimabanka.
        Það inniheldur fimm bækur eftir Sverri Norland.<br>
        Verð: <span id="verd">{{ bokaknippi.verd }}</span> kr. (ATH.: *texti um að magn: 1 = 5 bækur*)
      </p>
    </div>
    <hr class="d-block d-md-none">
    <form id="pontunarform" class="px-3 px-md-0" action="{% url 'pantanir:panta_bokaknippi' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- Button trigger modal -->
      <button id="senda-pontun" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
        Senda pöntun
      </button>
    </form>
  </div>
  <div class="col-12 col-md-4 order-1 order-md-2">
    <div class="d-block d-md-none">
      <p class="lead">Panta bókaknippi</p>
      <p>
        Hér getur þú pantað fyrsta bókaknippi AM forlags.
        Það inniheldur fimm bækur eftir Sverri Norland.<br>
        Verð: {{ bokaknippi.verd }} kr. (ATH.: *texti um að magn: 1 = 5 bækur*)
      </p>
    </div>
    <div class="row">
      <p class="lead d-none d-md-block">Smelltu til að sjá meira</p>
    </div>
    <div class="row">
      {% for b in baekur %}
        <div class="col-4 col-md-6 mb-3 mt-3 mt-md-0 p-0 text-center text-md-left">
          <a href="{% url 'baekur:baekur_lysing' pk=b.pk %}">
            <img src="{{ b.mynd.url }}" alt="">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Staðfesta pöntun</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Panta <strong><span id="modal-magn"></span> stykki</strong> af fyrsta bókaknippi AM forlags.<br>
        Samtals: <strong><span id="modal-heildarverd"></span> kr.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Til baka</button>
        <button class="btn btn-outline-primary" type="submit" form="pontunarform">Áfram</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
