{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load misc %}

{% block content %}
<div id="panta-bokaknippi" class="row my-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h2 class="text-center">Panta bókaknippi</h2>
    <p class="py-3">
      Bókaknippið kostar <span id="verd">{{ bokaknippi.verd_m_afslaetti }}</span> kr. auk sendingarkostnaðar.
      Fylltu inn upplýsingar um þig til að ganga frá pöntun.
      Við sendum svo greiðsluseðil í heimabanka um leið og við póstleggjum bækurnar.
    </p>
    {% if form_error %}
    <div class="row">
      <div class="alert alert-error text-center mx-auto" role="alert">
        {{ form_error }}
      </div>
    </div>
    {% endif %}
    <form id="pontunarform" class="px-2 px-md-0" action="{% url 'pantanir:panta_bokaknippi' %}" method="post" novalidate>
      {% csrf_token %}
      {% crispy form form.helper %}
      <!-- Button trigger modal -->
      <p class="mt-4 text-center text-sm-left">
        <button id="senda-pontun" type="button" style="font-size: 1.5rem;" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
          Staðfesta pöntun
        </button>
      </p>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Staðfesta pöntun</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Panta <strong><span id="modal-magn"></span> bókaknippi</strong> AM forlags.<br>
        Samtals: <strong><span id="modal-heildarverd"></span> kr. auk sendingarkostnaðar.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Til baka</button>
        <button class="btn btn-outline-primary" type="submit" form="pontunarform">Áfram</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
